<% if user_signed_in? %>
  <%= simple_form_for(@concert, html: {class: "form-horizontal"}) do |f| %>
    <% if @concert.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@concert.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
        <% @concert.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>


    <%= f.hidden_field :user_id, :value => current_user.id %>

    <p>Name Concert</p>
    <%= f.input :title, :label => '-' %>
    <p>________</p>
    <p>Date</p>
    <td><%= f.text_field :date, :id => "datepicker" %></td>
    <p>________</p>
    <p>Time Concert Details </p>
    <%= f.input :time_dur, :label => '-' %>
    <p>________</p>
    <p>Price </p>
    <%= f.input :price, :label => '-' %>
    <p>________</p>
    <p> Guest Artist </p>
    <%= f.input :name_art, :label => '-' %>
    <p>________</p>
    <p> Sample Song </p>
    <%= f.input :song, collection: [@concert.song] %>
    <p>________</p>
    <p>Concert Details </p>
    <%= f.input :full_desc, :label => '-' %>
    <p>________</p>
    <div class="form-actions">
      <%= f.button :submit, "Publish Concert Info" %>
    </div>
  <% end %>
<% end %> 